{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! </h1>


    <ul>

           </ul>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">titre</th>
            <th scope="col">lien</th>
            <th scope="col">categorie</th>
            <th scope="col">auteur</th>
            <th scope="col">date de creation</th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
        <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.lien }}</td>
                <td>{{ video.category }}</td>
                <td>{{ video.author }}</td>
                <td>{{ video.createAt|date("m/d/Y") }}</td>
            {% endfor %}
        </tr>

        </tbody>
    </table>
</div>
{% endblock %}
